sudo: false
language: python
cache: pip

python:
    - '2.7'
    - '3.3'
    - '3.4'
    - '3.5'
    - 'pypy'


allow_failures:
    - python: 'pypy'

before_install:
    - pip install codecov

install:
    - |
        if [ "$TRAVIS_PYTHON_VERSION" = "pypy" ]; then
            export PYENV_ROOT="$HOME/.pyenv"
            if [ -f "$PYENV_ROOT/bin/pyenv" ]; then
                pushd "$PYENV_ROOT" && git pull && popd
            else
                rm -rf "$PYENV_ROOT" && git clone --depth 1 https://github.com/yyuu/pyenv.git "$PYENV_ROOT"
            fi
            export PYPY_VERSION="5.0.1"
            "$PYENV_ROOT/bin/pyenv" install --skip-existing "pypy-$PYPY_VERSION"
            virtualenv --python="$PYENV_ROOT/versions/pypy-$PYPY_VERSION/bin/python" "$HOME/virtualenvs/pypy-$PYPY_VERSION"
            source "$HOME/virtualenvs/pypy-$PYPY_VERSION/bin/activate"
        fi
    - pip install -e .[test]

script:
    - py.test --cov=zeep --cov-report=term-missing

after_success: 
    - codecov
